flows/iot-fault-dispatch/flow.json
{
  "flowName": "andy_IoTFaultDispatch",
  "displayName": "IoT — Auto Dispatch on Fault",
  "flowDescription": "Triggers when an IoT telemetry event with andy_mismatch=true is added to Dataverse. Looks up the sensor, suppresses duplicate dispatches, selects the nearest available technician by GPS distance, creates a dispatch record, and updates sensor and technician status.",
  "solutionAware": true,
  "connectionReferences": [
    "andy_shared_commondataserviceforapps"
  ],
  "environmentVariables": [],
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "$authentication": {
        "defaultValue": {},
        "type": "SecureObject"
      }
    },
    "triggers": {
      "When_a_telemetry_row_is_added": {
        "metadata": {
          "operationMetadataId": "trigger-iottelemetryevent-mismatch"
        },
        "type": "OpenApiConnectionWebhook",
        "inputs": {
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "SubscribeWebhookTrigger",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          },
          "parameters": {
            "subscriptionRequest/message": 1,
            "subscriptionRequest/entityname": "andy_iottelemetryevent",
            "subscriptionRequest/scope": 4,
            "subscriptionRequest/filterexpression": "andy_mismatch eq true"
          },
          "authentication": "@parameters('$authentication')"
        }
      }
    },
    "actions": {
      "Init_MinDistance": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Var_MinDistance",
              "type": "float",
              "value": 999999
            }
          ]
        },
        "runAfter": {}
      },
      "Init_NearestTechId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Var_NearestTechId",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "Init_NearestTechName": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Var_NearestTechName",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "Init_SensorLat": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Var_SensorLat",
              "type": "float",
              "value": 0
            }
          ]
        },
        "runAfter": {}
      },
      "Init_SensorLon": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Var_SensorLon",
              "type": "float",
              "value": 0
            }
          ]
        },
        "runAfter": {}
      },
      "Init_CurrentDistance": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Var_CurrentDistance",
              "type": "float",
              "value": 0
            }
          ]
        },
        "runAfter": {}
      },
      "Guard_SensorLookup": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "parameters": {
            "entityName": "andy_iot_sensors",
            "$filter": "@concat('andy_device_id eq ''', triggerOutputs()?['body/andy_deviceid'], '''')",
            "$select": "andy_iot_sensorid,andy_device_id,andy_site_name,andy_latitude,andy_longitude,andy_sensor_status",
            "$top": 1
          },
          "authentication": "@parameters('$authentication')"
        },
        "runAfter": {
          "Init_MinDistance": [
            "Succeeded"
          ],
          "Init_NearestTechId": [
            "Succeeded"
          ],
          "Init_NearestTechName": [
            "Succeeded"
          ],
          "Init_SensorLat": [
            "Succeeded"
          ],
          "Init_SensorLon": [
            "Succeeded"
          ],
          "Init_CurrentDistance": [
            "Succeeded"
          ]
        }
      },
      "Condition_SensorFound": {
        "type": "If",
        "expression": {
          "greater": [
            "@length(outputs('Guard_SensorLookup')?['body/value'])",
            0
          ]
        },
        "actions": {},
        "else": {
          "actions": {
            "Terminate_UnknownDevice": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Guard_SensorLookup": [
            "Succeeded"
          ]
        }
      },
      "Set_SensorLat": {
        "type": "SetVariable",
        "inputs": {
          "name": "Var_SensorLat",
          "value": "@float(first(outputs('Guard_SensorLookup')?['body/value'])?['andy_latitude'])"
        },
        "runAfter": {
          "Condition_SensorFound": [
            "Succeeded"
          ]
        }
      },
      "Set_SensorLon": {
        "type": "SetVariable",
        "inputs": {
          "name": "Var_SensorLon",
          "value": "@float(first(outputs('Guard_SensorLookup')?['body/value'])?['andy_longitude'])"
        },
        "runAfter": {
          "Set_SensorLat": [
            "Succeeded"
          ]
        }
      },
      "Guard_DuplicateCheck": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "parameters": {
            "entityName": "andy_dispatch_historys",
            "$filter": "@concat('_andy_sensor_id_value eq ', first(outputs('Guard_SensorLookup')?['body/value'])?['andy_iot_sensorid'], ' and andy_status eq 756150000')",
            "$select": "andy_dispatch_historyid,andy_name",
            "$top": 1
          },
          "authentication": "@parameters('$authentication')"
        },
        "runAfter": {
          "Set_SensorLon": [
            "Succeeded"
          ]
        }
      },
      "Condition_NoDuplicate": {
        "type": "If",
        "expression": {
          "equals": [
            "@length(outputs('Guard_DuplicateCheck')?['body/value'])",
            0
          ]
        },
        "actions": {},
        "else": {
          "actions": {
            "Terminate_AlreadyDispatched": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Guard_DuplicateCheck": [
            "Succeeded"
          ]
        }
      },
      "Data_GetAvailableTechs": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "parameters": {
            "entityName": "andy_technicians",
            "$filter": "andy_availability eq 756150000",
            "$select": "andy_technicianid,andy_name,andy_latitude,andy_longitude"
          },
          "authentication": "@parameters('$authentication')"
        },
        "runAfter": {
          "Condition_NoDuplicate": [
            "Succeeded"
          ]
        }
      },
      "Condition_TechsAvailable": {
        "type": "If",
        "expression": {
          "greater": [
            "@length(outputs('Data_GetAvailableTechs')?['body/value'])",
            0
          ]
        },
        "actions": {},
        "else": {
          "actions": {
            "Terminate_NoTechsAvailable": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "NO_TECHS_AVAILABLE",
                  "message": "No available technicians found. Dispatch could not be completed."
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Data_GetAvailableTechs": [
            "Succeeded"
          ]
        }
      },
      "Loop_FindNearest": {
        "type": "Foreach",
        "foreach": "@outputs('Data_GetAvailableTechs')?['body/value']",
        "operationOptions": "Sequential",
        "actions": {
          "Calc_Distance": {
            "type": "SetVariable",
            "inputs": {
              "name": "Var_CurrentDistance",
              "value": "@add(mul(sub(variables('Var_SensorLat'), float(items('Loop_FindNearest')?['andy_latitude'])), sub(variables('Var_SensorLat'), float(items('Loop_FindNearest')?['andy_latitude']))), mul(sub(variables('Var_SensorLon'), float(items('Loop_FindNearest')?['andy_longitude'])), sub(variables('Var_SensorLon'), float(items('Loop_FindNearest')?['andy_longitude']))))"
            },
            "runAfter": {}
          },
          "Condition_IsNearer": {
            "type": "If",
            "expression": {
              "less": [
                "@variables('Var_CurrentDistance')",
                "@variables('Var_MinDistance')"
              ]
            },
            "actions": {
              "Update_MinDistance": {
                "type": "SetVariable",
                "inputs": {
                  "name": "Var_MinDistance",
                  "value": "@variables('Var_CurrentDistance')"
                },
                "runAfter": {}
              },
              "Update_NearestTechId": {
                "type": "SetVariable",
                "inputs": {
                  "name": "Var_NearestTechId",
                  "value": "@items('Loop_FindNearest')?['andy_technicianid']"
                },
                "runAfter": {
                  "Update_MinDistance": [
                    "Succeeded"
                  ]
                }
              },
              "Update_NearestTechName": {
                "type": "SetVariable",
                "inputs": {
                  "name": "Var_NearestTechName",
                  "value": "@items('Loop_FindNearest')?['andy_name']"
                },
                "runAfter": {
                  "Update_NearestTechId": [
                    "Succeeded"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Calc_Distance": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Condition_TechsAvailable": [
            "Succeeded"
          ]
        }
      },
      "Condition_TechSelected": {
        "type": "If",
        "expression": {
          "not": {
            "equals": [
              "@variables('Var_NearestTechId')",
              ""
            ]
          }
        },
        "actions": {},
        "else": {
          "actions": {
            "Terminate_NoTechSelected": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "NO_TECH_SELECTED",
                  "message": "Nearest technician could not be determined (missing GPS coordinates?). Dispatch aborted."
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Loop_FindNearest": [
            "Succeeded"
          ]
        }
      },
      "Data_CreateDispatch": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "operationId": "CreateRecord",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "parameters": {
            "entityName": "andy_dispatch_historys",
            "item/andy_status": 756150000,
            "item/andy_dispatched_at": "@utcNow()",
            "item/andy_error_code": "@triggerOutputs()?['body/andy_eventtype']",
            "item/andy_error_message": "@concat('Device: ', triggerOutputs()?['body/andy_deviceid'], ' | Value: ', string(triggerOutputs()?['body/andy_value']))",
            "item/andy_technician_id@odata.bind": "@concat('/andy_technicians(', variables('Var_NearestTechId'), ')')",
            "item/andy_sensor_id@odata.bind": "@concat('/andy_iot_sensors(', first(outputs('Guard_SensorLookup')?['body/value'])?['andy_iot_sensorid'], ')')"
          },
          "authentication": "@parameters('$authentication')"
        },
        "runAfter": {
          "Condition_TechSelected": [
            "Succeeded"
          ]
        }
      },
      "Data_UpdateSensorStatus": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "operationId": "UpdateRecord",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "parameters": {
            "entityName": "andy_iot_sensors",
            "recordId": "@first(outputs('Guard_SensorLookup')?['body/value'])?['andy_iot_sensorid']",
            "item/andy_sensor_status": 756150001,
            "item/andy_active_assignment_id@odata.bind": "@concat('/andy_dispatch_historys(', outputs('Data_CreateDispatch')?['body/andy_dispatch_historyid'], ')')"
          },
          "authentication": "@parameters('$authentication')"
        },
        "runAfter": {
          "Data_CreateDispatch": [
            "Succeeded"
          ]
        }
      },
      "Data_UpdateTechAvailability": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "operationId": "UpdateRecord",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "parameters": {
            "entityName": "andy_technicians",
            "recordId": "@variables('Var_NearestTechId')",
            "item/andy_availability": 756150001
          },
          "authentication": "@parameters('$authentication')"
        },
        "runAfter": {
          "Data_CreateDispatch": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {}
  }
}
